<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>

<%= form_for @post do |t| %>

    <div class="field">
      <%= t.label :名前  %>
      <%= t.text_area :name, :size => "30x2" %>
    </div>

    <div class="field">
      <%= t.label :住所  %>
      <%= t.text_area :address, :size => "30x2" %>
    </div>

    <div class="field">
      <%= t.label :内容  %>
      <%= t.text_area :genre, :size => "30x2" %>
      <%= t.label :説明  %>
      <%= t.text_area :about, :size => "30x2" %>
    </div>

    <div class="field">
      <%= t.label :写真 %>
      <%= t.file_field :image %>
    </div>

    <div class='form-group'>
      <%= t.label :宗派 %>
        <%= t.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <li><%= tag.label { tag.check_box + tag.text } %></li>
        <% end %>
      </div>

    <div class='form-check'>
      <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
      <% end %>
    </div>

    <div class='area'>
      <%= t.label :地方を選択 %>
      <%= t.select :genre, ['北海道', '東北', '関東', '中部', '近畿', '中国・四国', '九州'] %>
    </div>

 <%= t.submit "投稿する" %>


<%= link_to "一覧に戻る", posts_path %>


<%= form_with(model: @post, local: true) do |f| %>
  <div class="actions">
    <%= f.label :address,"住所" %>
    <%= f.text_field :address %>
    <%= f.label :lat,"緯度" %>
    <%= f.text_field :lat,:value =>"緯度", id: :lat %>
    <%= f.label :lng,"経度" %>
    <%= f.text_field :lng,:value =>"経度", id: :lng %>
  </div>
<% end %>

<h2>Map</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="検索" onclick="codeAddress()">
<p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 15,
    
  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvY9IGv985UPr5MjgyML5wfuLT_82Nx94&callback=initMap" async defer></script>
<% end %>