<!DOCTYPE html>
<html>
  <head>
    <title>Tera</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slackside+One&display=swap" rel="stylesheet">

    <%= image_tag'aabbcc.png',class:'icon'%>
      <h1>ぼらんてら</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "ログイン", posts_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "新規投稿へ", new_post_path %></li>
        <li><%= link_to "検索へ",  posts_select_path %></li>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>



